* {
    margin: 0;
    padding: 0;
    font-family: Consolas;
    color: whitesmoke;

    & body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    
        & main {
            padding: 20px 20px 0 20px;
        }
    }
}

/* El bula es gei */

/* === Header === */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 20px 20px;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    border-bottom: 20px solid rgb(20, 20, 20);

    & img {
        width: auto;
        height: 40px;
        filter: drop-shadow(1px 1px 10px black);
    }
}

@media screen and (min-width: 768px) {
    header{
        flex-direction: row;
    }
    
}

.logo {
    display: flex;
    cursor: default;
    color: whitesmoke;
    align-items: center;
    transition: all 0.5s;
    padding: 9px 0 9px 0;
    text-shadow: -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black;

    &:hover {
        transform: scale(1.2);
        filter: drop-shadow(0 0 90px gold);
        
    }
}

/* === Footer === */

footer {
    bottom: -0;
    width: 100%;
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    border-top: 20px solid rgb(20, 20, 20);
}

.contactos {
    color: whitesmoke;
    margin: 0 30px 10px 30px;
    

    & a {
        text-decoration: none;
        transition: all 0.5s;
    }
}

.contactos a:hover {
    color: goldenrod;
    filter: drop-shadow(0 0 30px gold);
    
}

.copyright {
    margin-right: 30px;
    align-items: center;
    margin: 10px 30px 10px 30px;
}