<!DOCTYPE html>
<html>
<head>
    <title>IEDO</title>
    <!-- Agrega enlaces a los archivos de estilo de Bootstrap y CSS personalizado según sea necesario -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">IEDO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Spanw <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/publicar">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comezar">comenzar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/cuenta" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Post
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/notes/add">Add Post</a>
                        <a class="dropdown-item" href="/notes">All Post</a>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto"> <!-- Alinea los enlaces "Login" y "Register" a la derecha -->
            <li class="nav-item">
                <a class="nav-link" href="/user/signin">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/signup ">Register</a>
            </li>
        </ul>
    </nav>

    <!-- Contenido principal de la página aquí -->
</body>
</html>

