<div class="row justify-content-center align-items-center">
    <div class="col-md-4 auto">
        <div class="card">
            <div class="card-header">
                Account login
            </div>
            <div class="card-body">
                <form action="/user/signin" method="POST">
                  
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="@mail">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button class="btn green-button btn-block" style="font-size: 20px;">
                        SAVE 
                         <div class="text-center"> <!-- Elemento div para centrar el texto h6 -->
                        <h6  style="font-size: 10px;">(This process may take some time, please wait.)</h6>
                    </div>
                    </button>
                 
                </form>
            </div>
        </div>
    </div>
</div>
