<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account register
            </div>
            <div class="card-body">
                <form action="/user/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="@mail" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password_confir" placeholder="Confirm password">
                    </div>
                    <button class="btn green-button btn-block">
                        SAVE
                        <div class="text-center"> <!-- Elemento div para centrar el texto h6 -->
                        <h6  style="font-size: 12px;">(This process may take some time, please wait.)</h6>
                    </div>
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>
