<div class="jumbotron mt-4">
    <h1 class="display-4">IEDO</h1>
    <P class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, cupiditate nemo aliquam veniam est excepturi sunt reprehenderit rerum harum quas id sed deserunt? Culpa voluptatem quibusdam est. Nam, assumenda facere!</P>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia et repellendus qui! Modi dolor rerum amet omnis nulla error asperiores!</p>
    <a href="https://www.iedoriental.edu.co/?fbclid=IwAR3UFObkWVNfDGBpxOH04Z3tAjQ5kTbFKxLa-a7zG2tUJPG7kzW7bRya3gg">oriental</a>

</div>