<div class="jumbotron mt-4">
    <h1 class="display-4 text-center"> welcome to  </h1>
    <h1 class="display-4 text-center"> IEDOSocial </h1>
    <P class="lead">This page offers you the opportunity to explore all the options for booths and activities during English Week. Additionally, you can share your thoughts and opinions about these activities. Getting started is simple; just register with your email, create a secure password, and provide an appropriate name. After this quick process, you'll have full access to both viewing and posting content.</P>
    <hr class="my-4">
    <p>This page is currently in its alpha phase. Therefore, you are welcome to share your feedback at the end of the activity. This page will undergo significant changes, and your input is highly valuable to us.
</p>
    <a href="https://www.iedoriental.edu.co/?fbclid=IwAR3UFObkWVNfDGBpxOH04Z3tAjQ5kTbFKxLa-a7zG2tUJPG7kzW7bRya3gg" target="_blank"> Made in</a>
</div>
