<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" href="icon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficcase</title>
</head>

<body>
    <header>
        <!-- Logo -->
        <div class="logo">
            <img src="./icon.ico" alt="FiccaseIcon">
            <h1>Ficcase</h1>
        </div>
        <nav class="navbar">
            <ul>
                <a href="#">Account</a>
                <a href="post.html">Create new post</a>
            </ul>
        </nav>
    </header>
    <!-- Contenido -->
    <main>
        <aside class="news">
            <fieldset>
                <legend>News</legend>
                <p>
            </fieldset>
        </aside>
        <section class="post">
            <fieldset>
                <legend>Posts</legend>
                <div>Theres no posts</div>
                <div>Theres no posts</div>
                <div>Theres no posts</div>
            </fieldset>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <div class="contactos">
            <ul>
                <h3>Contacts</h3>
                <a href="https://www.youtube.com/channel/UC85vRJe6PxO3P5wHntgOJuw" target="_blank">Shadow Ewegeft</a>
                <br>
                <a href="https://www.youtube.com/@cano1812" target="_blank">José Vaca</a>
            </ul>
        </div>
        <div class="copyright">
            <p>&copy; Ficcase 2023</p>
        </div>
    </footer>
</body>

<!-- LLAMAR HOJA DE SCRIPT JS -->
    <!-- LLAMAR HOJA DE SCRIPT JS -->
    <script src="mainJs.js"></script>
    <!-- USA EL MISMO NOMBRE -->
    <script src="../database.js"></script>
<script src="../index.js"></script>
<script src="../serve.js"></script>
    
</html>
<!-- USA EL MISMO NOMBRE -->

</html>