<section class="card">
    <div class="card-body" >
        <h1 class="text-center">rules</h1>
                  <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 
        <p>1- Respect and Courtesy: All users must treat others with respect and courtesy in all online interactions. Offensive, harassing, or derogatory behavior will not be tolerated.</p>
          <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 
        <p>2- No Harassment: Online harassment, including cyberbullying, is strictly prohibited. Users should report any harassment incidents immediately.</p>
                  <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 
        <p>3- Appropriate Content: Posting inappropriate, offensive, or illegal content is not allowed. This includes offensive language, graphic images, and any form of harmful content.</p>
                  <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 
        <p>4- Privacy: Users must respect the privacy of others. Posting personal or confidential information without proper consent is not permitted.</p>
                  <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 
        <p>5- No Discrimination: Discrimination based on race, gender, religion, sexual orientation, or other personal characteristics is not tolerated. The school website is an inclusive space.</p>
                  <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 
        <p>6- Responsible Resource Use: Website resources, such as forums, chat, or comment sections, should be used responsibly and for educational or informational purposes.</p>
                  <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 
        <p>7- Intellectual Property: Users must respect intellectual property rights, cite sources appropriately, and avoid plagiarism.</p>
                  <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 
        <p>8- Account Security: Each user is responsible for keeping their account secure. Passwords should not be shared, and users should log out after using the website.</p>
                  <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 
        <p>9- Reporting Issues: Users should report technical issues, inappropriate content, or inappropriate behavior to the website administrators.</p>
                  <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 
        <p>10- Compliance: Non-compliance with these rules may result in the suspension or deletion of the user's account.</p>
        
     
                 
    </div>
</section>

    <section class="card">
  <h1 class="text-center">Website Credits</h1>
        <p class="text-center"> Web Development: Jose Bula</p>
  <p class="text-center">Graphic Design: Angel Herrera...</p>
      <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 

  <h2 class="text-center">Special Thanks</h2>
  <p class="text-center">Fazt Code</p>
  <a href="https://youtube.com/@FaztCode" target="_blank">
    <button  class="btn green-button btn-block" >Visit</button>
  </a>
    <hr style="border-width: 2px; background-color: rgb(39, 39, 39);"> 
  <h2 class="text-center">External Resources</h2>
  <ul>
    <li>"@handlebars/allow-prototype-access": "^1.0.5"</li>
    <li>"bcryptjs": "^2.4.3"</li>
    <li>"connect-flash": "^0.1.1"</li>
    <li>"dotenv": "^16.3.1"</li>
    <li>"express": "^4.18.2"</li>
    <li>"express-handlebars": "^7.1.2"</li>
    <li>"express-session": "^1.17.3"</li>
    <li>"method-override": "^3.0.0"</li>
    <li>"mongoose": "^7.4.5"</li>
    <li>"morgan": "^1.10.0"</li>
    <li>"nodemon": "^3.0.1"</li>
    <li>"npm-check-updates": "^16.13.2"</li>
    <li>"passport": "^0.6.0"</li>
    <li>"passport-local": "^1.0.0"</li>
  </ul>

 </section>