<section class="card">
    <div class="card-body">
        <h1>ver</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum dolor tempore similique laboriosam doloremque accusantium iste maiores itaque dolore inventore neque, consequuntur aut sequi non id architecto. Explicabo, aliquid inventore.</p>
    </div>
</section>